.center {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.centerHorizontal {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}